body {
    height: calc(100vh - 100px);
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

#item-holder {
    width: inherit;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: orange;
}
#item-holder div {
    height: 2em;
    width: 2em;
    display: inline-flex;
    margin: auto 1em;
}
#item-sandbox {
    height: inherit;
    width: inherit;
    background-color: goldenrod;
    position: relative;
}
#item-sandbox .item {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
}
.item {
    background-color: bisque;
    height: 75px;
    width: 75px;
}
#item-add {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    top: 25px;
    right: 25px;
}

#preview {
    position: absolute;
    display: none;
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.8);
}